.note_card {
  width: min-content;
  height: fit-content;
  border: 1px solid transparent;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(65, 61, 61);
}
.card_data {
  padding: 12px;
}
.card_title {
  display: flex;
  justify-content: center;
}
.card_text {
  display: flex;
  justify-content: center;
}
.card_subtitle {
  font-size: x-small;
}
.btn_card {
  display: flex;
  justify-content: center;
}
.btn_card button {
  margin: 5px;
  width: 11rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  background: rgb(212, 73, 73);
  color: white;
  font-size: large;
}
